@import 'themes/index.css';
@import '_override.css';

:root {
  --black: #000;
  --white: #fff;
}

.content {
  padding: 48px 16px 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.grow {
  flex-grow: 1;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
  font-weight: 800;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

p {
  text-align: center;
  font-size: 18px;
}

.score {
  font-weight: bold;
  margin: 40px 0;
}

.team-turn {
  color: var(--white);
  font-weight: 800;
  font-size: 28px;
}

.current-word {
  color: var(--white);
  font-size: 40px;
  font-weight: 900;
}

.timer {
  color: var(--white);
  font-weight: 700;
}
